<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8">
		<title>Bookings</title>
		<link rel = "stylesheet" type = "text/css" href = "/static/styleSheet.css" >
		<script src="/static/homepage.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Open+Sans|Spectral+SC" rel="stylesheet">
	</head>
	<body>
		<div id="wrapper">
			<header>
				<p class="white" id="login">login | sign up</p>
				<a href="/"><img id="logo" src="/static/logo.jpg" alt="Logo"></a>
				<h1>Book a room</h1>
			</header>
			
			<div id="main">
                <a href="javascript:history.back()"><img id="back" src="/static/backButton.png" alt="Back Button"></a>
			</div>
			
			<footer>
				<div id="contact">
					<h3 class="grey"> Contact </h3>
					<table class="grey">
						<tr> <td> Email </td> <td> slightlyabovehotel@gmail.com </td> </tr>
						<tr> <td> Home </td> <td> 12345 123456 </td> </tr>
						<tr> <td> Mobile </td> <td> 12345678910 </td> </tr>
					</table>
				</div>
			</footer>
		</div>
	</body>
</html>